{% extends 'base.html' %}

{% block body %}
<div class="col-md-4 col-md-offset-4 col-sm-offset-2 loginbox">
        <div class="panel panel-info">
           <div class="panel-heading">
               <div class="panel-title">
                   Oh no!
               </div>
               <div style="padding-top:30px" class="panel-body">
                There was problem in activating your account. Please contact us at <a href="mailto:support@mysterybooks.com">Supports@mysterybook.com</a>
               </div>
            </div>
        </div>
</div>
{% endblock %}
